---
import Header from "@/components/Header";
import Home from "@/layouts/Home";
import Main from "@/layouts/MainLayouts";
import { getCollection } from "astro:content";
import { ViewTransitions, fade } from "astro:transitions";
import SEO from "@/components/SEO";

const projects = await getCollection("projects", ({ data }) => data.featured);
const sortedProjects = projects.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);

const currentPath = Astro.url.pathname;
---

<html lang="en" transition:animate={fade({ duration: "1s" })}>
  <head>
    <SEO
      pageTitle="Vunky Himawan | Home"
      description="Hi there! I'm Vunky Himawan, I'm a passionate junior front-end web developer and web designer, dedicated to creating visually stunning and user-friendly websites. Explore my projects to see how I bring ideas to life with creative design."
      pathName={Astro.url.pathname}
    />
    <ViewTransitions />
  </head>
  <body class="font-satoshi">
    <Main client:load>
      <Header client:load pathUrl={currentPath} />
      <Home client:load projects={sortedProjects} />
    </Main>
  </body>
</html>
